@font-face {
  font-family: 'OCRA';
  src: url('OCRA/OCRAStd.woff2') format('woff2'),
      url('OCRA/OCRAStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}